{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Job Portal </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="https://github.com/Sainathgirme7/job/blob/main/users/https://github.com/Sainathgirme7/job/blob/main/users/static/assets/img/favicon.ico?raw=true">

		<!-- CSS here -->
            <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="static/assets/css/flaticon.css">
            <link rel="stylesheet" href="static/assets/css/price_rangs.css">
            <link rel="stylesheet" href="static/assets/css/slicknav.css">
            <link rel="stylesheet" href="static/assets/css/animate.min.css">
            <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="static/assets/css/themify-icons.css">
            <link rel="stylesheet" href="static/assets/css/slick.css">
            <link rel="stylesheet" href="static/assets/css/nice-select.css">
            <link rel="stylesheet" href="static/assets/css/style.css">
        <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="https://github.com/Sainathgirme7/job/blob/main/users/static/assets/img/logo/logo.png?raw=true?raw=true" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="https://github.com/Sainathgirme7/job/blob/main/users/static/assets/img/hero/h1_hero.jpg?raw=true">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>Find the most exciting startup jobs</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box -->
                        <div class="row">
                            <div class="col-xl-8">
                                <!-- form -->
                                <form action="#" class="search-box">
                                    <div class="input-form">
                                        <input type="text" placeholder="Job Tittle or keyword">
                                    </div>
                                    <div class="select-form">
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value="">Location Mumbai</option>
                                                <option value="">Location Delhi</option>
                                                <option value="">Location Bengaluru</option>
                                                <option value="">Location Hyderabad</option>
                                                <option value="">Location Chennai</option>
                                                <option value="">Location Kolkata</option>
                                                <option value="">Location Pune</option>
                                                <option value="">Location Ahmedabad</option>
                                                <option value="">Location Jaipur</option>
                                                <option value="">Location Chandigarh</option>
                                            </select>
                                            
                                        </div>
                                    </div>
                                    <div class="search-form">
                                        <a href="#">Find job</a>
                                    </div>	
                                </form>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Our Services Start -->
        <div class="our-services section-pad-t30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>FEATURED TOURS Packages</span>
                            <h2>Browse Top Categories </h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="job_listing.html">Design & Creative</a></h5>
                                <span>(653)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-cms"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="job_listing.html">Design & Development</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-report"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="job_listing.html">Sales & Marketing</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-app"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="job_listing.html">Mobile Application</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-helmet"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="job_listing.html">Construction</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-high-tech"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="job_listing.html">Information Technology</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-real-estate"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="job_listing.html">Real Estate</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-content"></span>
                            </div>
                            <div class="services-cap">
                               <h5><a href="job_listing.html">Content Writer</a></h5>
                                <span>(658)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- More Btn -->
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-50">
                            <a href="#" class="border-btn2">Browse All Sectors</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services End -->
        <!-- Online CV Area Start -->
         <div class="online-cv cv-bg section-overly pt-90 pb-120"  data-background="https://github.com/Sainathgirme7/job/blob/main/users/static/assets/img/gallery/cv_bg.jpg?raw=true">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="cv-caption text-center">
                            <p class="pera1">FEATURED TOURS Packages</p>
                            <p class="pera2"> Make a Difference with Your Online Resume!</p>
                            <a href="#" class="border-btn2 border-btn4">Upload your cv</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Online CV Area End-->
       <!-- Featured_job_start -->
<section class="featured-job-area feature-padding">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <span>Recent Jobs</span>
                    <h2>Featured Jobs</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="/login?next=/dash/"><img src="https://github.com/Sainathgirme7/job/blob/main/users/static/assets/img/icon/job-list1.png?raw=true" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="/login?next=/dash/"><h4>Software Developer</h4></a>
                            <ul>
                                <li>TechCorp</li>
                                <li><i class="fas fa-map-marker-alt"></i>San Francisco, USA</li>
                                <li>$5000 - $6000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="/login?next=/dash/">Full Time</a>
                        <span>2 days ago</span>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="/login?next=/dash/"><img src="https://github.com/Sainathgirme7/job/blob/main/users/static/assets/img/icon/job-list2.png?raw=true" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="/login?next=/dash/"><h4>Data Scientist</h4></a>
                            <ul>
                                <li>Innovate Analytics</li>
                                <li><i class="fas fa-map-marker-alt"></i>New York, USA</li>
                                <li>$6000 - $7000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="/login?next=/dash/">Full Time</a>
                        <span>1 day ago</span>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="/login?next=/dash/"><img src="https://github.com/Sainathgirme7/job/blob/main/users/static/assets/img/icon/job-list3.png?raw=true" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="/login?next=/dash/"><h4>UI/UX Designer</h4></a>
                            <ul>
                                <li>DesignStudio</li>
                                <li><i class="fas fa-map-marker-alt"></i>London, UK</li>
                                <li>$4500 - $5500</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="/login?next=/dash/">Part Time</a>
                        <span>5 hours ago</span>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="/login?next=/dash/"><img src="https://github.com/Sainathgirme7/job/blob/main/users/static/assets/img/icon/job-list4.png?raw=true" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="/login?next=/dash/"><h4>Project Manager</h4></a>
                            <ul>
                                <li>Business Solutions Inc.</li>
                                <li><i class="fas fa-map-marker-alt"></i>Berlin, Germany</li>
                                <li>$5500 - $6500</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="/login?next=/dash/">Contract</a>
                        <span>3 days ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured_job_end -->

        <!-- How  Apply Process Start-->
        <div class="apply-process-area apply-bg pt-150 pb-150" data-background="https://github.com/Sainathgirme7/job/blob/main/users/static/assets/img/gallery/how-applybg.png?raw=true">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle white-text text-center">
                            <span>Apply process</span>
                            <h2> How it works</h2>
                        </div>
                    </div>
                </div>
                <!-- Apply Process Caption -->
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-search"></span>
                            </div>
                            <div class="process-cap">
                               <h5>1. Search a job</h5>
                               <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-curriculum-vitae"></span>
                            </div>
                            <div class="process-cap">
                               <h5>2. Apply for job</h5>
                               <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-process text-center mb-30">
                            <div class="process-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="process-cap">
                               <h5>3. Get your job</h5>
                               <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <!-- How  Apply Process End-->
      <!-- Testimonial Start -->
<style>
    .testimonial-img {
        width: 80px; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
        border-radius: 50%; /* Optional: make images circular */
        border: 2px solid #ddd; /* Optional: add border */
        margin-bottom: 10px; /* Spacing below the image */
    }
</style>

<div class="testimonial-area testimonial-padding">
    <div class="container">
        <!-- Testimonial contents -->
        <div class="row d-flex justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-10">
                <div class="h1-testimonial-active dot-style">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <div class="testimonial-caption">
                            <div class="testimonial-founder">
                                <div class="founder-img mb-30">
                                    <img src="https://github.com/Sainathgirme7/job/blob/main/logo/Bhupesh.jpeg?raw=true" alt="Bhupesh Ther" class="testimonial-img">
                                    <span>Bhupesh Ther</span>
                                    <p>Software Engineer</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                                <p>“This job portal transformed my job search experience. The resources and support provided were invaluable, helping me land my dream job!”</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <div class="testimonial-caption">
                            <div class="testimonial-founder">
                                <div class="founder-img mb-30">
                                    <img src="https://github.com/Sainathgirme7/job/blob/main/logo/Aarti.jpg?raw=true" alt="Aarti Chakranarayan" class="testimonial-img">
                                    <span>Aarti Chakranarayan</span>
                                    <p>HR Manager</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                                <p>“As an HR professional, I found this platform extremely helpful in connecting with talented candidates and streamlining the hiring process.”</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <div class="testimonial-caption">
                            <div class="testimonial-founder">
                                <div class="founder-img mb-30">
                                    <img src="https://github.com/Sainathgirme7/job/blob/main/logo/0001.jpg?raw=true" alt="Mr Sainath Girme" class="testimonial-img">
                                    <span>Mr. Sainath Girme</span>
                                    <p>Data Analyst</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                                <p>“Thanks to this portal, I received multiple job offers within weeks! The user-friendly interface made it easy to apply.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

         <!-- Support Company Start-->
         <div class="support-company-area support-padding fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <span>What we are doing</span>
                                <h2>24k Talented people are getting Jobs</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">Mollit anim laborum duis au dolor in voluptate velit ess cillum dolore eu lore dsu quality mollit anim laborumuis au dolor in voluptate velit cillum.</p>
                                <p>Mollit anim laborum.Duis aute irufg dhjkolohr in re voluptate velit esscillumlore eu quife nrulla parihatur. Excghcepteur signjnt occa cupidatat non inulpadeserunt mollit aboru. temnthp incididbnt ut labore mollit anim laborum suis aute.</p>
                                <a href="about.html" class="btn post-btn">Post a job</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src="https://github.com/Sainathgirme7/job/blob/main/users/static/assets/img/service/support-img.jpg?raw=true" alt="">
                            <div class="support-img-cap text-center">
                                <p>Since</p>
                                <span>1994</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->
        <!-- Blog Area Start -->
        <div class="home-blog-area blog-h-padding">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Our latest blog</span>
                            <h2>Our recent news</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="https://github.com/Sainathgirme7/job/blob/main/users/static/assets/img/blog/home-blog1.jpg?raw=true" alt="">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <span>24</span>
                                        <p>Now</p>
                                    </div>
                                </div>
                                <div class="blog-cap">
                                    <p>|   Properties</p>
                                    <h3><a href="single-blog.html">Footprints in Time is perfect House in Kurashiki</a></h3>
                                    <a href="#" class="more-btn">Read more »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="https://github.com/Sainathgirme7/job/blob/main/users/static/assets/img/blog/home-blog2.jpg?raw=true" alt="">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <span>24</span>
                                        <p>Now</p>
                                    </div>
                                </div>
                                <div class="blog-cap">
                                    <p>|   Properties</p>
                                    <h3><a href="single-blog.html">Footprints in Time is perfect House in Kurashiki</a></h3>
                                    <a href="#" class="more-btn">Read more »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Area End -->

    </main>
    <footer>
        <!-- Footer Start -->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>About Us</h4>
                                <p>Heaven fruitful doesn't cover lesser days. Appear creeping seasons, so behold.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li><p>Address: Your address goes here, your demo address.</p></li>
                                    <li><a href="tel:+919370320475">Phone: +91 9370320475</a></li>
                                    <li><a href="mailto:info@jobportal.com">Email: info@jobportal.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Links</h4>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Job Listings</a></li>
                                    <li><a href="https://we-are-equals.onrender.com/">Learning Portal</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <p>Heaven fruitful doesn't cover lesser days. Appear creeping.</p>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                              method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                   class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = 'Email Address'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                        class="email_icon newsletter-submit button-contactForm">
                                                    <img src="assets/img/icon/form.png?raw=true" alt="">
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10">
                            <div class="footer-copy-right">
                                <p>&copy; <script>document.write(new Date().getFullYear());</script> All rights reserved. <i class="fa fa-heart" aria-hidden="true"></i></p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </footer>
    
    

  <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./static/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./static/assets/js/popper.min.js"></script>
        <script src="./static/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./static/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./static/assets/js/owl.carousel.min.js"></script>
        <script src="./static/assets/js/slick.min.js"></script>
        <script src="./static/assets/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="./static/assets/js/wow.min.js"></script>
		<script src="./static/assets/js/animated.headline.js"></script>
        <script src="./static/assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="./static/assets/js/jquery.nice-select.min.js"></script>
		<script src="./static/assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./static/assets/js/contact.js"></script>
        <script src="./static/assets/js/jquery.form.js"></script>
        <script src="./static/assets/js/jquery.validate.min.js"></script>
        <script src="./static/assets/js/mail-script.js"></script>
        <script src="./static/assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./static/assets/js/plugins.js"></script>
        <script src="./static/assets/js/main.js"></script>
        
    </body>
</html>
		


{% endblock body %}
